<footer class="footer-style" style="margin-top: 50px;">
    <!-- Footer FOLLOW US-->
    <div class="text-center">
        <p>Open hours: 9A.M - 7P.M</p>
        <p>Hotline: 0999999999</p>
        <p>Address: 120 Queen Alizabeth</p>
    </div>
    <!-- COPY RIGHT -->
    <div class="footer-copyright text-center py-3">FLORAQUEEN. © 2002 - 2019 - ALL RIGHTS RESERVED
    </div>
</footer>